.testimonials-detail-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-inline-size: 100%;
    height: fit-content;
    padding: 24px;
    margin: 60px 0 80px 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 24px;
    box-shadow: 0 0 12px 0 rgb(255, 255, 255, 0.8);
}

.project-cards-container img.user-1 {
    inline-size: 64px;
    block-size: 64px;
}

.project-cards-container p.testimonials-card-body {
    font: var(--testimonial-body);
    letter-spacing: 0.005em;
}

.project-cards-container span.testimonials-card-caption {
    font: var(--caption);
}

@media screen and (min-width:1024px) {
    .project-cards-container img.user-1 {
        inline-size: 80px;
        block-size: 80px;
    }
    .project-cards-container p.testimonials-card-body {
        font: var(--testimonial-body-big);
    }
    .project-cards-container span.testimonials-card-caption {
        font: var(--caption-big);
    }
    .testimonials-detail-card {
        text-align: center;
        padding: 80px;
    }
}